<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Enable component scanning for Spring to discover components -->
	<context:component-scan base-package="com.assetsense.assetsoft" />

	<!-- DataSource Configuration -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="org.postgresql.Driver" />
		<property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/tagbuilder" />
		<property name="user" value="postgres" />
		<property name="password" value="root" />

	</bean>

	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>asset.hbm.xml</value>
				<value>observation.hbm.xml</value>
				<value>tag.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">none</prop>
				<prop key="hibernate.flushMode">AUTO</prop>
				<prop key="hibernate.c3p0.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider
				</prop>
			</props>
		</property>
	</bean>

	<bean id="template" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="checkWriteOperations" value="false"></property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="applicationContext"
		class="com.assetsense.tagbuilder.serviceImpl.ApplicationContextListener" />

	<!-- DAO beans -->
	<bean id="migrationDao" class="com.assetsense.tagbuilder.daoImpl.MigrationDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>