<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets  -->
	<servlet>
		<servlet-name>assetServlet</servlet-name>
		<servlet-class>com.assetsense.tagbuilder.serviceImpl.AssetServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>assetServlet</servlet-name>
		<url-pattern>/tagbuilder/asset</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>observationServlet</servlet-name>
		<servlet-class>com.assetsense.tagbuilder.serviceImpl.ObservationServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>observationServlet</servlet-name>
		<url-pattern>/tagbuilder/observation</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>tagServlet</servlet-name>
		<servlet-class>com.assetsense.tagbuilder.serviceImpl.TagServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>tagServlet</servlet-name>
		<url-pattern>/tagbuilder/tag</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>lookupServlet</servlet-name>
		<servlet-class>com.assetsense.tagbuilder.serviceImpl.LookupServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>lookupServlet</servlet-name>
		<url-pattern>/tagbuilder/lookup</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>lookupService</servlet-name>
		<servlet-class>com.assetsense.tagbuilder.serviceImpl.LookupServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>lookupService</servlet-name>
		<url-pattern>/tagbuilder/lookup</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>modelService</servlet-name>
		<servlet-class>com.assetsense.tagbuilder.serviceImpl.ModelServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>modelService</servlet-name>
		<url-pattern>/tagbuilder/model</url-pattern>
	</servlet-mapping>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Tagbuilder.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

</web-app>
